<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <node name="godclock" pkg="stoplight" type="godclock.py" args="" respawn="false">
    <remap from="uoct/godclock" to="/timing/uoct/godclock"/>
  </node>

  <group ns="timing">
    <node name="north2south" pkg="stoplight" type="north2south.py" respawn="true">
      <remap from="stoplight/north2south" to="/stations/stoplight/north2south"/>
    </node>
    <node name="east2west" pkg="stoplight" type="east2west.py" respawn="true">
      <remap from="stoplight/north2south" to="/stations/stoplight/north2south"/>
    </node>
  </group>

  <group ns="stations">
    <node name="station_1" pkg="rosserial_python" type="serial_node.py" respawn="true">
      <param name="port" value="/dev/ttyACM0"/>
    </node>
  </group>

</launch>
