<launch>
  <group ns="station">
    <node name="intersection_1" pkg="rosserial_python" type="serial_node.py" args="" output="log" respawn="false">
      <param name="port" value="/dev/tty/USB0" type="str"/>
    </node>
    <node name="intersection_2" pkg="rosserial_python" type="serial_node.py" args="" output="log" respawn="false">
      <param name="port" value="/dev/tty/USB1" type="str"/>
    </node>
  </group>
  <group ns="timing">
    <node name="master" pkg="stoplight" type="stoplight_master.py" args="" output="screen" respawn="true">
    </node>
    <node name="slave" pkg="stoplight" type="stoplight_slave.py" args="" output="screen" respawn="true">
    </node>
  </group>
</launch>
