[submodule "catkin_ws/src/rosserial"]
	path = catkin_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "carkin_ws/src/rosserial"]
	path = carkin_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "catkin_ws/src/usb_cam"]
	path = catkin_ws/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam.git
